<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/119174/IdeaProjects/Testing/selenium-java">
        <classes>
             <class name="NavigationTest" />
             <class name="SearchTest" />
        </classes>
    </test>
</suite>